# ملفات كبيرة مش عاوز أرفعها
word2vec.model
*.model
*.bin
*.h5
*.pkl
*.npy
*.csv
*.zip

# استثناء الملفات اللي فعلاً هرفعها
!prepare_files.py

# كاش بايثون
__pycache__/
*.pyc
*.pyo

# بيئة العمل
venv/
.env
